{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h4>Don't Wait at the Pump, Order Fuel Online! FuelXpress - Your On-Demand Fuel Delivery Service.</h4>
        <img class="img-fluid" src="{% static 'fuelxpress/1.jpg' %}" alt="">
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <h4>Running Low on Fuel? No Worries! FuelXpress Delivers Right to Your Doorstep. Experience Fueling Made Simple.</h4>
        <img class="img-fluid" src="{% static 'fuelxpress/2.jpg' %}" alt="">
    </div>
</article>

{% endblock content %}